@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    background: var(--darkgrey);
    --typography-base: 16px;
    --spacing: 10px;
    --border-radius: 10px;

    --orange: #FF3D00;
    --white: #FFFFFF;
    --darkgrey: #0B0B0B;
    --grey:#171717;
    --light: #7468FF;
    --darkblue: #1400FF;
    --green: #00AA30;
    --darkgreen:#04783B;
    --purple: #8000FF;
    --darkred: #7C0004;

    --inset--top:    -0.2em;
	--inset--bottom: -0.23em;
	--inset--left:   -0.07em;
	--inset--right:  -0.06em;
}

nav { 
    font-family: bitter;
    display: flex;
    justify-content: space-around;
    font-size: var(--typography-base);
    padding: var(--spacing);
    background-color: var(--darkgrey);
    border: var(--white);
    border-style: solid;
    border-radius: var(--border-radius) ;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: calc(1* var(--spacing));
}